.container {
margin-bottom: 24px;
border-radius: 6px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
}

.label {
font-size: 16px;
font-weight: 500;
margin-bottom: 4px;
}

.input {
width: 300px;
height: 24px;
border: 2px solid #000;
border-radius: 6px;
}