.describe {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.buttotsContainer {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 8px;
  width: 140px;
  height: 60px;
  background-color: rgb(241, 168, 155);
}

.buttonReturn {
  padding: 8px;
  width: 140px;
  height: 60px;
  background-color: rgb(22, 142, 222);
}
