.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 20px;
  border: 2px solid black;
  padding: 20px;
  border-radius: 6px;
}

.errorText {
  font-size: 12px;
  font-weight: 400;
  color: red;
}

.field {
  padding-left: 10px;
  width: 200px;
  height: 24px;
  font-weight: 600;
}

.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-weight: 600;
}

.formaBtn {
  margin: 7px auto;
  padding: 8px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 20px;
  background-color: rgb(22, 142, 222);
  cursor: pointer;
  &:active {
    background-color: rgb(78, 170, 232);
  }
     &:hover {
       border: rgb(3, 33, 53);
     }
}
