.list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 14px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.item {
  height: 50px;
  border: 1px solid #000;
  min-width: 230px;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc((100% - 72px) / 5);
}
